.App {
    text-align: center;
    background-color: rgb(172, 170, 89);
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 75% 100%, 35% 100%, 0 63%, 0 0);
    position: absolute;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;
  }
  .h31{
      font-size: 30px;
  }
  p{
    color: blue;
  }

 